[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jass-kit = "*"
ipykernel = "*"
flask = "*"
requests = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
